################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chara2img
chara2img/bin/*
chara2img/obj/*